{% extends "base.html" %}

{% block head_title %}
  Restaurents || {{ block.super }}
{% endblock head_title %}

{% block content %}
  <h1> Restaurent List</h1>
  {% for item in object_list %}
    <div>
      <a href='/restaurent/{{ item.slug }}/'>
        Name: {{item.name}}
      </a> <br>
      Location: {{item.location}} <br>
      Category: {{item.category}} <br>
      Timestamp: {{item.timestamp}} <br>
      Updated: {{item.updated}} <br><br>
    </div>
  {% endfor %}

{% endblock content %}